$background-color: #F5F5F5;
$primary-color: #1976d2;
$secondary-color: #3f51b5;
$primary-hover-color: #303f9f;
$border-color: #194dd2;
$color-black: #212529;
$color-gray: #dddddd;
$color-dark-gray: #a9a9a9;
$error-color: #e45252;
$todo-color: #e73e3ebd;
$error-secondary-color: #f50057;
$in-done: #42a56a;
$in-progress: #df60df;
