.portfolio-card {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  margin-right: 40px;
  margin-bottom: 60px;

  &:last-child {
    margin-right: 0;
  }

  .portfolio-card-content {
    .portfolio-card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(25, 118, 210);
      font-size: 36px;
      font-weight: 800;
      word-break: break-word;
    }
  }

  .MuiButton-root.portfolio-item-btn {
    font-size: 18px;
    border-radius: 10px;
    color: rgb(25, 118, 210);
    border-color: rgb(25, 118, 210);
    border: 1px solid rgba(25, 118, 210, 0.5);
    border-radius: 4px;

    &:hover {
      background-color: rgb(25, 118, 210);
      color: white;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border: 1px solid rgba(25, 118, 210, 0.5);
    }
  }

  .portfolio-card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .MuiButton-root.remove-portfolio-btn {
      margin-left: 0;
      color: #d32f2f;
      border-color: #d32f2f;

      &:hover {
        background-color: #d32f2fdb;
        color: white;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }

      .remove-portfolio-icon {
        font-size: 35px;
      }
    }
  }
}
