.portfolio-divedend {
  .portfolio-divedend-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }

  .portfolio-divedend-sub-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
  }
}
